<div id="<%= dom_id recipe %>">

  <h2 class="recipe-title"><strong><%= recipe.title %></strong></h2>

  <p class=recipe-meta>
    Prep time: <strong><%= recipe.prep_time %></strong> |
    Cook time: <strong><%= recipe.cook_time %></strong> |
    Private: <strong><%= recipe.is_private %></strong> |
    Calories: <strong><%= recipe.calories %></strong>
  </p>

  <% if user_signed_in? %>
    <hr class="mt-4 mb-4">
    <div class="user-actions flex items-center space-x-4">
      <% if recipe.user == current_user %>
        <%= link_to 'Edit', edit_recipe_path(recipe), class: 'bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-1 px-3 rounded text-sm' %>
        <%= button_to 'Delete', recipe_path(recipe), method: :delete, class: 'bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded text-sm' %>
      <% end %>
      <% if recipe.user != current_user || recipe.is_private == false %>
        <% if current_user.saved_recipes.include?(recipe) %>
          <%= button_to 'Remove from cookbook', 
                        remove_from_cookbook_recipe_path(recipe), 
                        method: :delete, 
                        class: 'bg-gray-400 hover:bg-gray-500 text-white font-bold py-1 px-3 rounded text-sm' %>
          <span class="text-green-600 text-sm">Uložené! ✔️</span>
          
        <% else %>
          <%= button_to 'Save to my cookbook', 
                        save_to_cookbook_recipe_path(recipe), 
                        method: :post, 
                        class: 'bg-green-600 hover:bg-green-700 text-white font-bold py-1 px-3 rounded text-sm' %>
        
        <% end %>
      <% end %>
    </div>
  <% end %>

  <h3>Ingredients</h3>
  <% if recipe.recipe_ingredients.any? %>
    <ul class="ingredient-list">
      <% recipe.recipe_ingredients.each do |ri| %>
        <li>
          <%= ri.amount %> <%= ri.unit %> <%= ri.ingredient.name %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No ingredients added so far.</p>
  <% end %>

  <h3>Instructions:</h3>
  <div class="instructions-body">
    <%= simple_format(recipe.instructions) %>
  </div>

  <h3>Tags</h3>
  <% if recipe.tags.any? %>
    <div class="recipe-tags">
      <% recipe.tags.each do |tag| %>
        <span class="tag"><%= tag.name %></span>
      <% end %>
    </div>
  <% else %>
    <p>No tags added so far.</p>
  <% end %>