<% # app/views/recipes/_recipe_ingredient_fields.html.erb %>
<% # Vstupujúce premenné: recipe_ingredient (objekt RecipeIngredient), all_ingredients (kolekcia Ingredient.all) %>

<% data_prefix = "recipe[recipe_ingredients_data][]" %>

<div class="ingredient-field-set" data-id="<%= recipe_ingredient.object_id %>">
  <% # Kľúč je 'recipe[recipe_ingredients_data][]' - to zabezpečí, že dáta prídu ako POLE HASHOV %>
  <% # KĽÚČOVÉ DOPLNENIE: Ak má ingrediencia ID (bola už uložená), pošle ho %>
  <%= hidden_field_tag "#{data_prefix}[id]", recipe_ingredient.id if recipe_ingredient.persisted? %>
  <% # KĽÚČOVÉ DOPLNENIE: Ak chceme, aby sa záznam ZMAZAL (po kliknutí na Remove) %>
  <% # Keď je pole schované (hidden), má hodnotu 0. Ak chceme zmazať, JS by ho mal prepnúť na 1. %>
  <%= hidden_field_tag "#{data_prefix}[_destroy]", 0, class: 'destroy-field' %>

  <div class="grid grid-cols-12 gap-4 items-center mb-2">

    <div class="col-span-6">
      <%= select_tag "#{data_prefix}[ingredient_id]", 
        options_from_collection_for_select(all_ingredients, :id, :name, recipe_ingredient.ingredient_id), 
        { 
          include_blank: "Select ingredient", 
        class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 sm:text-sm transition text-center" }
    %>
    </div>

    <div class="col-span-2">
      <%= number_field_tag "#{data_prefix}[amount]", 
        recipe_ingredient.amount, 
        { 
          min: 0,
          placeholder: 0,
          class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 sm:text-sm transition text-center" }
        %>
    </div>

    <div class="col-span-2">
      <%= select_tag "#{data_prefix}[unit]", 
        options_for_select(
            RecipeIngredient.units.keys.map { |key| [RecipeIngredient.human_attribute_name("unit.#{key}"), key] }, 
        recipe_ingredient.unit
        ),
        { 
          include_blank: "Select unit", 
          class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-orange-400 focus:border-orange-400 sm:text-sm transition text-center" }
    %>
    </div>

    <div class="col-span-2 flex items-center justify-center">
      <button type="button" 
          class="remove-ingredient-button w-full py-2 px-3 border border-red-200 text-sm font-semibold rounded-lg text-red-600 bg-red-50 hover:bg-red-100 hover:border-red-300 focus:outline-none focus:ring-2 focus:ring-red-400 transition duration-200 cursor-pointer">
        Remove
      </button>
    </div>
  </div>

  <hr>
</div>