<nav class="fixed top-0 left-0 right-0 z-50 bg-white shadow-md">
  <div class="container mx-auto flex justify-between items-center p-4">

    <%= link_to 'RecipeApp', root_path, class: 'text-xl font-bold text-gray-800 hover:text-blue-600' %>

    <ul class="flex space-x-6">

      <li>
        <%= link_to 'Home', root_path, class: "text-gray-700 hover:text-blue-600 #{'font-bold border-b-2 border-blue-600' if current_page?(root_path)}" %>
      </li>

      <% if user_signed_in? %>
        <li>
          <%= link_to 'My Recipes', recipes_path, class: "text-gray-700 hover:text-blue-600 #{'font-bold border-b-2 border-blue-600' if current_page?(recipes_path)}" %>
        </li>
        <li>
          <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'text-gray-700 hover:text-red-500 transition duration-150 ease-in-out' %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Log in', new_user_session_path, class: "text-gray-700 hover:text-blue-600 #{'font-bold border-b-2 border-blue-600' if current_page?(new_user_session_path)}" %>
        </li>
        <li>
          <%= link_to 'Register', new_user_registration_path, class: "text-gray-700 hover:text-blue-600 #{'font-bold border-b-2 border-blue-600' if current_page?(new_user_registration_path)}" %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>